html{
    background-color: black;
}


img{
    height: 600px;
    width: 800px;
    border: 5px solid white;
    margin-top: 50px;
}
  .libre-baskerville-regular-italic {
    
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
h1{
    font-family: Libre Baskerville, serif;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}
p{
    color: white;
}